<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

</head>
<body>
    <div class="container">
        <h1>Chat en Tiempo Real</h1>
        <div id="chat-messages">
            {% for mensaje in mensajes %}
                <p>{{ mensaje }}</p>
            {% endfor %}
        </div>
        <form id="chat-form">
            <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" value="{{ nombre }}" required>
            <input type="text" id="nuevo_mensaje" name="nuevo_mensaje" placeholder="Escribe tu mensaje aquí" required>
            <button type="submit">Enviar</button>
        </form>
    </div>

    {% block script %}
     <script src="{{ url_for('static', filename='script/io.js') }}"></script>

    {% endblock %}
</body>

</html>